<section id="contact" class="py-5">
    <div class="container pt-3">
        <div *ngIf="isSubmitted" class="mb-3">
            <div class="alert alert-success" role="alert">
                Merci ! Votre message a bien été envoyé. Je vous recontacte dès que possible. 
            </div>
        </div>
        <h2 class="mb-4">Contactez-moi</h2>
        <div>
            <div class="d-flex">
                <fa-icon icon="phone"></fa-icon>
                <p class="ps-4">06.20.69.67.33</p>
            </div>
            <div class="d-flex">
                <fa-icon icon="envelope"></fa-icon>
                <p class="ps-4">florent.jarno@gmail.com</p>
            </div>
            <p>Ou envoyez-moi un message, je vous répondrai dans les plus brefs délais. Merci !</p>
        </div>
        <form [formGroup]="contactForm" (submit)="onSubmit()" class="pt-3">           
           <div class="mb-3">
                <label for="firstName" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" placeholder="Entrez votre prénom" required>
            </div>
        
            <div class="mb-3">
                <label for="lastName" class="form-label">Nom</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName" placeholder="Entrez votre nom" required>
            </div>
        
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="nom@exemple.com" required>
            </div>
        
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" formControlName="message" name="message" rows="4" placeholder="Votre message..." required></textarea>
            </div>
            <input type="hidden" name="_captcha" value="false">
            <button type="submit" class="btn btn-pink btn-lg">Envoyer</button>
        </form>
    </div>
</section>
