#about {
    height: 100vh;
    position: relative;
    background-image: url('../../../assets/img/code-grey.jpg');
    background-size: cover; 
    background-position: center;  
    background-attachment: fixed; 
}
#about::before {
    content: "";  
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 37, 41, 0.8);  
    z-index: 1;  
}
#about .intro {
    position: relative;
    z-index: 2;
    max-width: 800px;  
}
h1 {
    font-size: 50px;
}
h2 {
    font-weight: 300;
}
p {
    font-size: 20px;
}
p span {
    font-size: 35px;
}
h1, h2, .right-column {
    opacity: 0;
    animation: fadeIn 3s forwards;
}
h2 {
    animation-delay: 0.5s;
}
.right-column {
    animation-delay: 1.5s;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 1200px) { 
       
    #about {
        height: auto;
        padding: 10% 5%;
    }
}





