<section id="about" class="bg-dark d-flex justify-content-center align-items-center">
    <div class="intro container row">
        <div class="col-lg-6 left-column">
            <h1 class="text-white">Florent Jarno</h1>
            <h2 class="text-white">Développeur Web Fullstack</h2>
        </div>
        <div class="col-lg-6 right-column">
            <p class="text-white">
                Bonjour !
                Après avoir obtenu le titre professionnel 
                Développeur Web et Web Mobile,
                je suis désormais à la recherche
                <span id="changingText">d'un{{ changingText }}</span>.<br>
            </p>
            <a href="#contact" class="btn btn-pink btn-lg">Me contacter</a>
        </div>
    </div>
</section>
