<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid px-5">
      <a class="navbar-brand text-white" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#skills">Compétences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#projects">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>