.square {
    height: 300px;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* .full-image-preview {
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0;           
    visibility: hidden;   
    transition: opacity 0.3s ease;
}

.full-image-preview.active {
    opacity: 1;
    visibility: visible;
} */

.full-image-preview {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.full-image-preview.active {
    opacity: 1;
}

.full-image-preview img {
    width: 100%;
    height: auto;
}


