<section class="container py-3 d-flex flex-column align-items-center">
  <img [src]="project?.imageUrl" alt="" class="img-fluid shadow mb-4 w-100">
  <div class="row m-0">
    <div class="col-lg-3 p-5 bg-light">
      <div class="tech-list d-flex flex-column">
        <div class="d-flex pb-4">
          <!-- <fa-icon [icon]="['fab', project?.site.icon]" size="2x" class="pe-2 pink"></fa-icon> -->
          <a href="{{ project?.site?.url }}" target="_blank" class="text-dark">{{ project?.site?.anchor }}</a>
        </div>
        <h5>Expérience</h5>
        <p>{{ project?.experience?.type }}<br>
        <i>{{ project?.experience?.date }}</i></p>
        <h5 class="pt-3">Technologies</h5>
        <ul class="list-unstyled">
            <li *ngFor="let tech of project?.technologies" class="d-flex align-items-center">
                <fa-icon [icon]="['fab', tech.icon]" size="2x" class="pe-2 pink"></fa-icon>
                <strong class="pe-4">{{ tech.name }}</strong>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 p-4">
      <h1 class="pb-3">{{ project?.title }}</h1>
      <div class="desc">
        <p>{{ project?.description }}</p>
      </div>
      <div class="row">
        <div *ngFor="let img of project?.galleryImages" class="col-lg-4 square d-flex justify-content-center pt-3"
        (mouseover)="onHoverImage(img)" (mouseout)="onHoverOut()">           
          <img [src]="img" alt="" class="border">
        </div>
      </div>
      <div *ngIf="showPreview" [class.active]="isHovering" class="full-image-preview">
        <img [src]="showPreview" alt="">
      </div>    
    </div>
  </div>
</section>




