@media (min-width: 769px) { 
       
    #projects {
        padding-top: 40px;
        padding-bottom: 80px;
    }
}

h2 {font-size: 50px;}

.card {
    border: 0;
    transition: transform 0.4s; /* Add a smooth transition */
    text-decoration: none; 
    color: inherit; /* Ensures text retains its color */
}

.card:hover {
    transform: scale(1.02); /* Slight grow effect on hover */
    text-decoration: none;
}

/* Additional styling to make sure colors and underlines remain consistent for nested elements */
.card * {
    text-decoration: none;
    color: inherit;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines  and add...*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
