<section id="projects" class="bg-dark d-flex flex-column align-items-center">
    <h2 class="text-center text-white py-5">Projets</h2>
    <div class="row container">
        <div *ngFor="let project of projects" class="col-lg-6 px-2">
            <a [routerLink]="['/projet', project.id]" class="card mb-3 flex-fill">
              <img [src]="project.imageUrl" class="card-img-top img-fluid" [alt]="project.title" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text mb-2">{{ project.description }}</p>
                <div class="d-flex align-items-center" style="color:rgb(131, 131, 131)">
                  <fa-icon *ngFor="let tech of project.technologies" [icon]="['fab', tech.icon]" size="2x" class="ps-2"></fa-icon>
                </div>
              </div>
            </a>
        </div>
    </div>
</section>

