@media (min-width: 769px) { 
       
    #skills {
        margin-top: 20px;
        margin-bottom: 60px;
    }

}

.bg-dark-grey {
    background-color: black;
}

h2 {
    font-size: 50px;
}

.ms0 {
    margin-left: 0;
}

