<section id="skills" class="py-5 d-flex flex-column align-items-center">
    <h2 class="text-center py-4">Compétences</h2>
    <div class="row container">
        <div class="col-lg-4">
            <h3 class="py-3">Conception</h3>
            <ul class="ps-3">
                <li >Conception graphique : wireframes, maquettes sur Figma ou InVision.</li>
                <li>Modélisation de systèmes : diagrammes UML.</li>
                <li>Conception de base de données : MCD, MLD, MPD.</li>
            </ul>
            <div class="d-flex align-items-center pt-2 pink">       
                <fa-icon [icon]="['fab', 'figma']" size="2x"></fa-icon>
                <fa-icon [icon]="['fab', 'invision']" size="2x" class="ps-2"></fa-icon>
            </div>  
        </div>
        <div class="col-lg-4">
            <h3 class="py-3">Développement Front-end</h3>
            <ul class="ps-3">
                <li>Solide expertise en CSS et design responsive.</li>
                <li>Maîtrise des frameworks JavaScript modernes : Angular et React.</li>
                <li>Expérience avec Bootstrap pour des interfaces esthétiques et intuitives.</li>
                <li>Longue expérience en déploiement et personnalisation de sites WordPress.</li>
            </ul>
            <div class="d-flex align-items-center pt-2 pink">       
                <fa-icon [icon]="['fab', 'angular']" size="2x"></fa-icon>
                <fa-icon [icon]="['fab', 'react']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'js-square']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'css3-alt']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'bootstrap']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'wordpress']" size="2x" class="ps-2"></fa-icon>
            </div>
        </div>
        <div class="col-lg-4">
            <h3 class="py-3">Développement Back-end</h3>
            <ul>
                <li>Expérience avec les frameworks backend : Spring Boot pour Java et Symfony pour PHP.</li>
                <li>Bonne compréhension d'une architecture backend.</li>
                <li>Utilisation pratique de MySQL pour la gestion des bases de données.</li>
                <li>Maîtrise du langage SQL.</li>
            </ul>    
            <div class="d-flex align-items-center pt-2 pink">   
                <fa-icon [icon]="['fab', 'java']" size="2x"></fa-icon>
                <fa-icon [icon]="['fab', 'php']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'symfony']" size="2x" class="ps-2"></fa-icon>
                <fa-icon [icon]="['fab', 'node']" size="2x" class="ps-2"></fa-icon>
                <fa-icon icon="database" size="2x" class="ps-2"></fa-icon>
            </div>        
        </div>        
    </div>
</section>


