<p>resume works!</p>
<main class="container">
    <section class="header">
       <div class="row">
            <div class="profile-pic col-lg-2">
                <img src="../../../assets/img/profile-pic.JPG" alt="" class=" object-fit-cover w-100 h-75">
            </div>
            <div class="profile col-lg-10">
                <div class="title row align-items-center bg-light p-3">
                    <div class="col-lg-6">
                        FLORENT JARNO
                    </div>
                    <div class="col-lg-6">
                        Développeur Web<br>
                        Fullstack
                    </div>
                </div>
                <div class="details row bg-light mt-3 p-3">
                    <div class="col-lg-4 d-flex flex-column">
                        <i class="fa fa-user py-2"></i>
                        <i class="fa fa-key"></i>
                        <i class="fas fa-java"></i>
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
                        <i class="fa fa-user py-2"></i>
                        <i class="fa fa-user py-2"></i>
                        <fa-icon [icon]="['fab', 'angular']"></fa-icon>
                 
                    </div>
                    <div class="col-lg-4 d-flex flex-column">
                        <i class="fa fa-user py-2"></i>
                        <i class="fa fa-user py-2"></i>
                        <fa-icon [icon]="['fab', 'angular']"></fa-icon>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="experience"></section>
    <section class="skills"></section>
    <section class="soft-skills"></section>
    <section class="education"></section>
    <section class="languages"></section>
</main>
